.about {
  padding-top: 55px;
  padding-bottom: 30px;
  background-image: url(../img/about-pattern.png), linear-gradient(-43deg, rgba(1, 1, 1, 0.01) 0%, rgba(255, 255, 255, 0.01) 100%);
  box-shadow: inset 0 0 50px rgba(1, 1, 1, 0.14);
}
.about__content {
  padding-top: 28px;
  margin-left: -($grid-gutter-width / 2);
  margin-right: -($grid-gutter-width / 2);
  margin-bottom: 40px;
}
.about__content p {
  text-align: center;
  color: #4c4c4c;
  font-size: 16px;
  letter-spacing: -0.35px;
}
.about__cook {
  text-align: center;
  padding-top: 7px;
  padding-left: 55px;
}
.about__dish {
  img {
    margin-left: 20px;
  }
}
.section-title--about {
  margin-bottom: 28px;
}
