.main-footer {
  padding-top: 58px;
  padding-bottom: 39px;
  color: #fff;
  background-color: #191919;
}
.footer-column {
  text-align: center;
  margin-bottom: 25px;

  &--about {
    margin-left: -($grid-gutter-width / 2);
  }
  &--location {
    margin-right: -($grid-gutter-width / 2);
  }
}
.footer-column__title {
  margin: 0;
  margin-bottom: 18px;
  padding-bottom: 35px;
  color: #fefefe;
  font-family: $heading-font;
  font-size: 21px;
  background-image: url(../img/section-title-divider-white.png);
  background-position: center bottom;
  background-size: 199px 19px;
  background-repeat: no-repeat;
}
.footer-column__text {
  font-family: $secondary-text-font;
}
.social--footer {
  padding-top: 30px;
  display: block;
  position: static;

  .social__link {
    color: #fff;
    font-size: 16px;
  }
}
