.header {
  position: relative;
  z-index: 2;
  &:before {
    @include pseudo;
    width: 100%;
    height: 159px;
    background: linear-gradient(to bottom, rgba(0,0,0,0.21) 0%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36000000', endColorstr='#00000000',GradientType=0 );
    z-index: 1;
  }
}
.header__bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #7e7262;
  background-size: cover;
  background-position: center;
}
.slide-bg-1 {
  background-image: url(../img/header-bg-1.jpg);
}
.slide-bg-2 {
  background-image: url(../img/header-bg-3.jpg);
}
.slide-control {
  padding: 5px;
  position: absolute;
  top: 50%;
  left: 0;
  font-size: 50px;
  margin-top: -40px;
  color: #fff;
  opacity: 0.5;
  outline: none;

  &:hover,
  &:focus,
  &:active {
    color: #fff;
    opacity: 1;
  }

  @media (min-width: $screen-sm-min) {
    padding: 15px;
    left: 15px;
    font-size: 70px;
    margin-top: -80px;
  }
}
.right.slide-control {
  left: auto;
  right: 0;
  @media (min-width: $screen-sm-min) {
    right: 15px;
  }
}
.header__content {
  position: relative;
  padding-top: 120px;
}
.header__text {
  padding-top: 100px;
  padding-bottom: 142px;
}
.header__text h1 {
  margin: 0;
  margin-bottom: 34px;
  padding-bottom: 63px;
  background-image: url(../img/divider.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  opacity: 0.92;
  text-shadow: 0.5px 0.9px 2px rgba(1, 1, 1, 0.64);
  font-family: $heading-font;
  color: #fff;
  font-size: 36px;
  line-height: 1.3;

  @media (min-width: 400px) {
    font-size: 40px;
  }
  @media (min-width: 480px) {
    font-size: 48px;
  }
  @media (min-width: 600px) {
    font-size: 60px;
  }
  @media (min-width: $screen-sm-min) {
    font-size: 70px;
  }
  @media (min-width: $screen-md-min) {
    font-size: 80px;
  }
  @media (min-width: $screen-lg-min) {
    font-size: 90px;
  }
}

.social--header {
  display: block;
  position: static;
  text-align: center;

  @media (min-width: $screen-sm-min) {
    position: absolute;
    margin-right: -($grid-gutter-width / 2);
  }

  .social__link {
    padding: 10px;

    @media (min-width: $screen-sm-min) {
      padding: 5px;
    }
  }
}

.carousel-fade {
  .carousel-inner {
    .item {
        transition-property: opacity;
    }

    .item,
    .active.left,
    .active.right {
        opacity: 0;
    }

    .active,
    .next.left,
    .prev.right {
        opacity: 1;
    }

    .next,
    .prev,
    .active.left,
    .active.right {
        left: 0;
        transform: translate3d(0, 0, 0);
    }
  }

  .carousel-control {
      z-index: 2;
  }
}
