.ingredients {
  position: relative;
  overflow: hidden;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #fff;
  background-color: #616c51;

  .container {
    z-index: 2;
  }

  @media (min-width: $screen-sm-min) {
    padding-top: 100px;
    padding-bottom: 99px;
  }
}
.ingredients__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 150%;
  background-image: url(../img/ingredients-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 1;
}
.section-title--ingredients {
  margin-bottom: 25px;
  color: #fff;
  background-image: url(../img/section-title-divider-white.png);
}
.ingredients__content {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 40px;
  padding-bottom: 50px;
  position: relative;
  z-index: 1;

  @media (min-width: $screen-sm-min) {
    padding: 50px;
  }
  @media (min-width: $screen-md-min) {
    margin-right: -($grid-gutter-width / 2);
  }
  @media (min-width: $screen-lg-min) {
    padding: 75px;
    padding-top: 60px;
    padding-bottom: 80px;
  }
}
.ingredients__content:before {
  @include pseudo;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.67;
  background-color: #000;
  border: 0.06px solid #fbf7c0;
  z-index: -1;
}
.ingredients__content p {
  text-align: center;
  font-size: 16px;
}
.ingredients__images {
  padding-top: 58px;
  text-align: center;
}
.ingredients__images img {
  display: inline-block;
  vertical-align: top;
  margin: 0 5px;
  width: 75px;
  height: auto;

  @media (min-width: 480px) {
    width: 110px;
  }
  @media (min-width: $screen-md-min) {
    width: 100px;
  }
  @media (min-width: $screen-md-min) {
    width: 110px;
    margin: 0 13px;
  }
}
