.reservations {
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url(../img/about-pattern.png), linear-gradient(-13deg, rgba(12, 52, 53, 0) 0%, rgba(255, 255, 255, 0) 100%);
  box-shadow: inset 0 0 50px rgba(1, 1, 1, 0.05);

  @media (min-width: $screen-md-min) {
    padding-top: 100px;
    padding-bottom: 103px;
  }
}
.reservations__images {
  font-size: 0;
  text-align: center;
  img {
    width: 48%;
    max-width: 270px;
    height: auto;
    display: inline-block;
  }
  img:first-child {
    margin-right: 4%;
  }

  @media (min-width: $screen-lg-min) {
    margin-left: -($grid-gutter-width / 2);
  }
}
.section-title--reservations {
  margin-top: 0;
  margin-bottom: 15px;
  @media (min-width: $screen-lg-min) {
    margin-bottom: 25px;
  }
}
.reservations__content {
  padding: 0;
  padding-bottom: 50px;

  @media (min-width: 480px) {
    padding-left: 50px;
    padding-right: 50px;
  }
  @media (min-width: $screen-md-min) {
    padding: 0;
  }
  @media (min-width: $screen-lg-min) {
    margin-right: -($grid-gutter-width / 2);
    padding: 0 70px;
  }

  p {
    font-size: 16px;
    color: #4c4c4c;
    text-align: center;
  }
}

.reservations__form {
  font-family: $secondary-text-font;

  @media (min-width: $screen-lg-min) {
    padding-top: 26px;
  }

  .form-group {
    margin-bottom: 15px;

    @media (min-width: $screen-lg-min) {
      margin-bottom: 25px;
    }
  }
  fieldset {
    margin-bottom: 12px;
  }
  label {
    color: #c9a131;
    font-size: 14px;
    font-weight: 700;
  }
  input[type="text"],
  input[type="email"],
  select {
    height: 36px;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid #c8c6c6;
    border-radius: 0;
    color: #7c7c7c;
    font-size: 16px;
    font-style: italic;
    &:focus,
    &:active,
    &:hover {
      border: 1px solid #c89f2d;
      box-shadow: none;
    }
  }

  .datepicker {
    position: relative;
    input {
      padding-right: 25px;
    }
  }
  .datepicker__icon {
    position: absolute;
    bottom: 8px;
    right: 12px;
    color: #7c7c7c;
    font-size: 13px;
  }
}
.pika-single {
  font-family: $secondary-text-font;
}
