.social {
  position: absolute;
  top: 40px;
  right: 0;
  transition: 0.25s;

  &__link {
    display: inline-block;
    padding: 5px;
    color: #dab33e;
    font-size: 21px;
    transition: 0.25s;

    &:hover,
    &:focus,
    &:active {
      color: #fff;
    }
  }
}
